<form action=""
{% if not order_number %}
hx-post={% url 'submit_buy_form' %}
{% else %}
hx-post={% url 'submit_buy_form_edit' order_number %}
{% endif %}
    hx-swap=outerHTML
    hx-encoding="multipart/form-data"
    class="needs-validation
        {% if submitted %}
            was-validated
        {% endif %}
    "

    novalidate
>
    {% for field in buy_form %}
        <div class="mb-3 {% if field.field.widget.attrs.hidden %} visually-hidden{% endif %}" id="container_{{field.id}}"
        {% if field.field.widget.attrs.id == 'type' %}
        hx-post={% url 'size_select_options' created_design.unique_id %}
        hx-trigger='change, load'
        hx-target="#sizeAndPricing"
        {% endif %}

        >
            <label for="{{field.id}}" class="col-form-label">{{field.field.widget.attrs.field_title}}
            </label>

            
            {{field}}
            {{field.field.widget.attrs.field_description}}

            <div class="invalid-feedback">
                {{field.field.widget.attrs.error_message}}
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        {% if field.field.widget.attrs.id == 'type' %}
        <div id="sizeAndPricing"></div>
        {% endif %}
    {% endfor %}

    

    <button type="submit" class="btn btn-primary site-button waves-effect waves-light">
        Continue
    </button>
</form>

{% if enable_pixels_for_user %}
    {% if category.enable_pixels %}
    <script>
        fbq('track', 'ClickBuy', {}, {eventID: '{{click_buy_event_unique_id}}'});
    </script>
    {% endif %}
{% endif %}

