<div id="user_payment_form">

  <a 
  href=""
  class="light small"
  {% if order_product.product.type_of_purchase == 'Digital' %}
  hx-get="{% url 'edit_size_select_buy_form' order_product.design_request.unique_id %}"
  {% else %}
  hx-get="{% url 'shipping_form_and_options' order.order_number %}"
  {% endif %}
  hx-trigger="click"
  hx-target="#user_payment_form"
  hx-encoding="multipart/form-data"
  hx-swap="outerHTML">


  < Previous</a>
<div class="my-2">

  <b>Your order details</b>
  <br>
Email: {{order.email.email}} <br>
Total:  {{order.currency.currency_symbol}}{{order.order_total}}  {{order.currency.currency_code}} <br>

{% if not order_product.product.type_of_purchase == 'Digital' %}

{% if order.shipping_method %}
Shipping: {{order.shipping_method}} ({{order.currency.currency_symbol}}{{order.shipping_price}} inc. in total)<br>
First_name: {{order.ship_first_name}}<br>
Last name: {{order.ship_last_name}}<br>
Address line 1: {{order.ship_address_line_1}}<br>
Address line 2: {{order.ship_address_line_2}}<br>
Country: {{order.ship_country}}<br>
State: {{order.ship_state}}<br>
City: {{order.ship_city}}<br>
Postcode: {{order.ship_postcode}}<br>


{% endif %}

{% endif %}
  
  

  <br>
  <b>
    Order items
  </b>
  <br>


  {% for order_product in order.get_order_products %}
  
  {{order_product.product.type_of_purchase}} <br>
  {% if order_product.product.orientation %}
  {{order_product.product.orientation}} <br>
  {% endif %}
  
  {% if order_product.product.price %}
  {{order.currency.currency_symbol}} 
  {{order_product.product.price}} 
  {{order.currency.currency_code}}
  <br>
  {% endif %}

  
  {% endfor %}
  


</div>
<form id="payment-form">
  <h5>Complete your order</h5>
    <div id="payment-element">
      <!-- Elements will create form elements here -->
    </div>
    <br>
    {% comment %} <a  class="light small"  
    hx-get="{% url 'user_payment_form' page.url_slug %}" 
    hx-trigger="click once"
    hx-target="#user_payment_form"
    hx-encoding="multipart/form-data"        
    hx-swap="outerHTML">
    
    
    < Go back</a> {% endcomment %}

    <button class="btn site-button btn-primary" style="float:right;" id="submit">Extend now</button>
    <div id="error-message">
      <!-- Display error message to your customers here -->
    </div>
  </form>
  

<script>
    var stripe = Stripe('{{stripe_pub_key}}');
    
    var stripeOptions = {
      clientSecret: '{{client_secret}}',
      // Fully customizable with appearance API.
      appearance: {/*...*/},
    };
    
    // Set up Stripe.js and Elements to use in checkout form, passing the client secret obtained in step 2
    var elements = stripe.elements(stripeOptions);
    
    // Create and mount the Payment Element
    var paymentElement = elements.create('payment');
    paymentElement.mount('#payment-element');
    
    
    var form = document.getElementById('payment-form');
    
    form.addEventListener('submit', async (event) => {
      event.preventDefault();
    
      var {error} = await stripe.confirmPayment({
        //`Elements` instance that was used to create the Payment Element
        elements,
        confirmParams: {
          return_url: '{{return_url}}',
        },
      });
    
      if (error) {
        // This point will only be reached if there is an immediate error when
        // confirming the payment. Show error to your customer (e.g., payment
        // details incomplete)
        var messageContainer = document.querySelector('#error-message');
        messageContainer.textContent = error.message;
      } else {
        // Your customer will be redirected to your `return_url`. For some payment
        // methods like iDEAL, your customer will be redirected to an intermediate
        // site first to authorize the payment, then redirected to the `return_url`.
      }
    });
    
    </script>

  </div>
