{% extends 'home_site/base.html' %}
{% load static %}

{% block content %}

{% if successful_payment %}
<div>
    <button id="modalToggle"  type="button" class="waves-light visually-hidden" data-bs-toggle="modal" data-bs-target="#myModal">Standard modal</button>

    <!-- sample modal content -->
    <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-bs-scroll="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                        Thank you
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% autoescape off %}
                    <p>
                    <br>
                    Thank you, your order has been confirmed.
                    <br>
                    <br>

                    Order number: {{order.order_number}} <br>
                    Order total: {{order.currency.currency_symbol}}{{order.order_total}} {{order.currency.currency_code}} <br>
                    Email: {{order.email.email}}
                    <br>
                    <br>
                    </p>
                    <p class="text-center">
                        Digital products will be emailed to you. 
                        Physical products may take 1-3 weeks to arrive depending on location. 
                    </p>
                    {% endautoescape %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary site-button waves-effect waves-light" data-bs-dismiss="modal" aria-label="Close">Continue</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div> <!-- end preview-->
<script>

    function paymentSucceededFunc(){

        document.getElementById('modalToggle').click()
        clearInterval(paymentSucceeded)

    }

    var paymentSucceeded = setInterval(paymentSucceededFunc, 1000)

</script>
{% endif %}

    <div class="row">
        <h4 class="text-center">Create the perfect portrait using AI</h4>

        <div >

            {% if created_design %}
            
            {% include 'create_design/includes/design_display.html' %}
            
            {% else %}
            <button id="modalToggle"  type="button" class="btn btn-primary site-button
            waves-effect waves-light mx-auto d-flex" data-bs-toggle="modal" data-bs-target="#myModal">
            Create now 
            </button>
            {% endif %}

        </div>

        <div>

            <!-- sample modal content -->
            <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-bs-scroll="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Add your options and create the perfect gift now</h5>
                            <button type="button" id="closeCreate" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% include 'create_design/includes/create_design_form.html' %}
                        </div>
                        <div class="modal-footer">
                         
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div> <!-- end preview-->

    </div>


{% endblock %}