{% extends 'home_site/base.html' %}
{% load static %}

{% block content %}
<title>{{site.site_slogan}} - {{site.site_name}}  </title>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->


                        {% comment %} Start main section {% endcomment %}

                        <div class="row flex-lg-row align-items-center g-5 py-5">

                            <div class="col-lg-6">
                              <h1 class="display-5 fw-bold lh-1 mb-3">
                                Create the perfect portrait today
                                
                              
                                 </h1>
                              <p class="lead">
                                Instantly create the most amazing, hilarious portrait using AI.


                              </p>
                                <div class="text-align-center;">

                                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                      <a href="{% url 'create_design' %}" type="button" class="btn btn-primary site-button btn-lg px-4 me-md-2">
                                         Create
                                      </a>
                                      {% comment %} <a href="{% url 'view_example' %}" class="btn btn-outline-secondary btn-lg px-4">View example</a> {% endcomment %}
                                    </div>
                                    {% comment %} <p class="text-center">Get started in 1 minute with a free 3 day trial, no credit card required. {% endcomment %}
                                    </p>
                                </div>

                            </div>

                            <div class="col-10 col-sm-8 col-lg-6 mx-auto " >
                                <img 
                                src="{% static 'site/assets/images/medievalmockup.jpg' %}"
                                 class="d-block mx-lg-auto img-fluid shadow-lg  rounded" alt="mediterranean diet example ingredients" loading="lazy" 
                                 style="max-height:30rem;" >
                              </div>
                        </div>

                        {% comment %} End main section {% endcomment %}


                        {% comment %} 3 icons {% endcomment %}

                        <div class="row justify-content-md-center text-center">
                            <div class="col-sm-3">
                              <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" viewBox="0 0 24 24" class="eva eva-heart-outline icon nav-icon"><g data-name="Layer 2"><g data-name="heart"><rect width="140" height="140" opacity="0"></rect><path d="M12 21a1 1 0 0 1-.71-.29l-7.77-7.78a5.26 5.26 0 0 1 0-7.4 5.24 5.24 0 0 1 7.4 0L12 6.61l1.08-1.08a5.24 5.24 0 0 1 7.4 0 5.26 5.26 0 0 1 0 7.4l-7.77 7.78A1 1 0 0 1 12 21zM7.22 6a3.2 3.2 0 0 0-2.28.94 3.24 3.24 0 0 0 0 4.57L12 18.58l7.06-7.07a3.24 3.24 0 0 0 0-4.57 3.32 3.32 0 0 0-4.56 0l-1.79 1.8a1 1 0 0 1-1.42 0L9.5 6.94A3.2 3.2 0 0 0 7.22 6z"></path></g></g></svg>
                                            
                              <h2>Made with love </h2>
                              <p>
                                {% comment %} Align your subconscious with your goals to achieve greater success {% endcomment %}

                              </p>
                                                         </div><!-- /.col-lg-4 -->
                            <div class="col-sm-3">
                              <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" viewBox="0 0 24 24" class="eva eva-menu-2 icon nav-icon"><g data-name="Layer 2"><g data-name="menu-2"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"></rect><circle cx="4" cy="12" r="1"></circle><rect x="7" y="11" width="14" height="2" rx=".94" ry=".94"></rect><rect x="3" y="16" width="18" height="2" rx=".94" ry=".94"></rect><rect x="3" y="6" width="18" height="2" rx=".94" ry=".94"></rect></g></g></svg>                     
                              <h2>Easy to create
                              </h2>
                              <p>
                                {% comment %} Looking for more love in your life? Filled with positive quotes and imagery, 
                                transform your relationships. {% endcomment %}

                              </p>
                                                         </div><!-- /.col-lg-4 -->
                            <div class="col-sm-3">
                              <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" viewBox="0 0 24 24" class="eva eva-clock-outline icon nav-icon"><g data-name="Layer 2"><g data-name="clock"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"></rect><path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"></path><path d="M16 11h-3V8a1 1 0 0 0-2 0v4a1 1 0 0 0 1 1h4a1 1 0 0 0 0-2z"></path></g></g></svg>                              <h2>Quick creation
                              </h2>
                              <p>
                                {% comment %} Achieve greater inspiration with our daily vision boards filled with inspirational images and quotes. {% endcomment %}
                              </p>
                                                         </div><!-- /.col-lg-4 -->
                            <div class="col-sm-3">
                              <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" viewBox="0 0 24 24" class="eva eva-checkmark-circle-outline icon nav-icon"><g data-name="Layer 2"><g data-name="checkmark-circle"><rect width="24" height="24" opacity="0"></rect><path d="M9.71 11.29a1 1 0 0 0-1.42 1.42l3 3A1 1 0 0 0 12 16a1 1 0 0 0 .72-.34l7-8a1 1 0 0 0-1.5-1.32L12 13.54z"></path><path d="M21 11a1 1 0 0 0-1 1 8 8 0 0 1-8 8A8 8 0 0 1 6.33 6.36 7.93 7.93 0 0 1 12 4a8.79 8.79 0 0 1 1.9.22 1 1 0 1 0 .47-1.94A10.54 10.54 0 0 0 12 2a10 10 0 0 0-7 17.09A9.93 9.93 0 0 0 12 22a10 10 0 0 0 10-10 1 1 0 0 0-1-1z"></path></g></g></svg>

  
                      
                              <h2>Create a preview before ordering
                              </h2>
                              {% comment %} <p>Unlock your happiest self with our daily vision boards.</p> {% endcomment %}
                                                         </div><!-- /.col-lg-4 -->
                        </div>

                        
                    {% comment %} End icons {% endcomment %}

                    {% comment %} Image left {% endcomment %}
                    {% comment %} <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

                        <div class="col-lg-6">
                          <h1 class="display-5 fw-bold lh-1 mb-3">Tried and struggled but still no closer to your goals?
                          </h1>
                          <p class="lead">
                            The problem isn't you, the problem is you haven't learnt how to tap into your true power...
                            <br>
                            <br>
                            That power comes from your subconscious. 
                            <br>
                            <br>
                            With our daily vision boards you will develop the confidence 
                            to confront your life's biggest challenges head on.
                            <br>
                            <br>
                            We make it easy to visualize your future using our handpicked imagery and text.
                            <br><br>
                            We will create a new vision board for you daily to keep you on track to success.                             
                            <br><br>
                            In 2 minutes a day you will be able to align your subconscious and leverage the law of attraction to achieve your goals. 
                            <br><br>
                            
                            View a new vision board daily to allow this power to work for you. 
                            </p>
                            <div class="text-align-center;">

                                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                    <a href="{% if main_quiz %}{% url 'quiz' main_quiz.unique_id %}{% endif %}" type="button" class="btn btn-primary site-button btn-lg px-4 me-md-2">Create now</a>
                                    <a href="{% url 'view_example' %}" class="btn btn-outline-secondary btn-lg px-4">View example</a>
                                </div>
                                <p class="text-center">Get started in 1 minute with a free 3 day trial, no credit card required.
                                </div>

                        </div>

                        <div class="col-10 col-sm-8 col-lg-6 mx-auto" >
                            <img src="{% static '/site/assets/images/overcome.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="" loading="lazy" width="700" height="500">
                          </div>
                    </div> {% endcomment %}

                    
                    
                    {% comment %} End image left {% endcomment %}

                         {% comment %} how it works {% endcomment %}
                        {% comment %} <div class="row text-center">

                          <h3>How it works</h3>
                          <br>
                          <br>
                        </div>
                         <div class="row justify-content-md-center text-center">
                            <div class="col-sm-4">
                              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                      
                              <h2>Heading</h2>
                              <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                              <p><a class="btn btn-secondary site-secondary-button" href="#">View details »</a></p>
                            </div><!-- /.col-lg-4 -->
                            <div class="col-sm-4">
                              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                      
                              <h2>Heading</h2>
                              <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
                              <p><a class="btn btn-secondary site-secondary-button" href="#">View details »</a></p>
                            </div><!-- /.col-lg-4 -->
                            <div class="col-sm-4">
                              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                      
                              <h2>Heading</h2>
                              <p>And lastly this, the third column of representative placeholder content.</p>
                              <p><a class="btn btn-secondary site-secondary-button" href="#">View details »</a></p>
                            </div><!-- /.col-lg-4 -->
                        </div> {% endcomment %}

                        
                    {% comment %} End how it works {% endcomment %}

                    {% comment %} Pricing {% endcomment %}


                    {% comment %} <div class="px-4 py-5 my-5 text-center">
                        <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
                        <h1 class="display-5 fw-bold">Set yourself up for success</h1>
                        <div class="col-lg-6 mx-auto">
                          <p class="lead mb-4">
                            Start your day feeling unstoppable working
                            towards your goals without worry, self-doubt or
                            procrastination.
                            <br><br>
                            Visualization is a powerful technique used by high performers all over the world.
                            <br><br>
                            All achievements begin as ideas in the mind. Our daily vision boards align your subconscious
                            mind to accelerate your success.
                            
                            
                          
                          </p>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                              <a href="{% if main_quiz %}{% url 'quiz' main_quiz.unique_id %}{% endif %}" type="button" class="btn btn-primary site-button btn-lg px-4 me-md-2">Start free trial</a>
                              <a href="{% url 'view_example' %}" class="btn btn-outline-secondary btn-lg px-4">View example</a>
                            </div>
     
                        </div>
                    </div>  {% endcomment %}

                    {% comment %} Ending pricing {% endcomment %}

                    {% comment %} FAQ {% endcomment %}

                    {% comment %} <div class="accordion mx-auto" style="width:50%;"  id="accordionExample">
                        <h5>FAQ</h5>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Accordion Item #1
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Accordion Item #2
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Accordion Item #3
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                          </div>
                        </div>
                    </div> {% endcomment %}

                    {% comment %} End FAQ {% endcomment %}

                    {% comment %} CTA {% endcomment %}

                    {% comment %} <div class="px-4 py-5 my-5 text-center">
                        <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
                        <h1 class="display-5 fw-bold">Centered hero</h1>
                        <div class="col-lg-6 mx-auto">
                          <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
                          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <button type="button" class="btn btn-primary site-button btn-lg px-4 gap-3">Primary button</button>
                            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
                          </div>
                        </div>
                    </div> {% endcomment %}

                    {% comment %} End CTA {% endcomment %}

                    {% comment %} {% include 'dashboard/components/subscription_choices.html' %} {% endcomment %}

                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->





{% endblock content %}


{% block scripts %}




{% endblock scripts %}
