.next_post {
    border-left: 10px solid hsla(10,100%, 70%, 1);
    background: hsla(10,100%, 90%, 0.5);
    color: #35415a,
}

.previous_post {
    border-left: 10px solid hsla(180,100%, 70%, 1);
    background: hsla(180,100%, 90%, 0.5);
    color: #35415a,
}

.may_like {
    border-left: 10px solid hsla(200,100%, 70%, 1);
    background: hsla(200,100%, 90%, 0.5);
    color: #35415a,
}

/* Review stars */


.rate > input {
    display: none;
}



.rate {
    display: inline-block;
    border: 0;
}

.rate > label {
    float: right;
}

.rate > label:before {
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
}

.rate .half:before {
    content: "\f089";
    position: absolute;
    padding-right: 0;

}

.review-stars-hover input:checked ~ label, .review-stars-hover label:hover ~ label {
    color: #ffb503;
}

/* Hover highlight */

input:checked + label:hover, input:checked ~ label:hover, input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
    color: #cc9000;

}

.rating-star {
	margin: 5px 0;
}

.rating-star i {
    color: #ffb503;
}
